.cards-container {
  width:78%;
  margin:-36rem 1% 0 21%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1.5rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height:300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
}

.card p {
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
}

.card:hover img {
  filter: brightness(115%); /* Slightly dim the image on hover */
}

.emojicontainer{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  height:70vh;
  width:70rem;
}

#text{
  font-size: 3rem;
  font-weight: 700;
}



#text {
  font-family: monospace;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgb(0, 0, 0); /* Blinking cursor */
  animation: typing 6s steps(30, end), blink-caret 0.75s infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  60%{
    width: 42%;
  }
  80% {
    width: 42%;
  }
  100%{
    width:0;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  height:2.5rem;
  width:2.5rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  font-weight: 700;
}

.pagination button.active {
  background-color: #85f758;
  color: white;
}

.pagination button:hover {
  background-color: #e0e0e0;
}
