.cards-container {
  position: absolute;
  width: 79%;
  top: 10rem;
  margin-left: 16rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1.5rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
}

.card p {
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
}

.card:hover img {
  filter: brightness(115%); /* Slightly dim the image on hover */
}
