@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Lora", serif;
  font-weight: 500;
}
/* header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f6fb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px 20px;
  height: 80px;
  margin-top: 97px;
  border: 2px solid white;
  margin-left: 20%;
}

.header-title {
  font-size: 1.5em;
}

.search-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.Range-Search {
  padding-left: 0%;
  margin-right: 6%;
  font-size: 1em;
  border: none;
  background-color: teal;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  height: 90%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.Range-Search:hover {
  background-color: rgb(33, 206, 206);
  border-color: rgb(33, 206, 206);
  color: black;
  transform: scale(1.05);
}

.back {
  margin-right: 1em;
}

.lower {
  border-right: 1px solid black;
}
.lower:focus {
  border-right: 1px solid black;
}

.search-bar {
  padding: 5px 10px;
  border: 0.5px solid rgb(0, 0, 0);
  font-size: 1em;
  height: 100%;
  color: rgb(0, 0, 0);
  flex: 1;
  border-radius: 20px 0 0 20px;
  background-color: white;
}

.search-bar:focus {
  border: solid rgba(211, 73, 73, 0.725);
  outline: none;
}

.search-button {
  padding: 0 20px;
  font-size: 1rem;
  border: 0.5 solid;
  background-color: teal;
  color: white;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  height: 100%;
  border: 1px solid black;
}

.plus-icon{
  color: black; 
  z-index:2; 
  cursor: pointer;
  position: absolute; 
  right: 7.6rem;
}

.search-button:hover {
  background-color: rgb(33, 206, 206);
  color: black;
}

#upper-range {
  border-radius: 0;
}

.clear-search {
  padding: 10px;
  margin-right: 3%;
  font-size: 1em;
  border: none;
  background-color: rgba(247, 54, 54, 0.732);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  height: 90%;
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.clear-search:hover {
  background-color: #ff0000; /* Change background color */
  color: rgb(255, 255, 255); /* Change text color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow */
  transform: scale(1.05); /* Slightly increase size */
  border: 1px solid #ff0000; /* Add border */
}

#arrowLeft {
  font-size: x-large;
}

.search-container {
  /* Your existing styles */
  position: relative;
}

.enroll-counter {
  position: absolute;
  top: -1rem;
  left: 17rem;
  font-size: 0.8rem;
  color: #333;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
  z-index: 1;
}

@media(max-width:1124px){
  .lower,.upper{
    width:150px;
  }
}

@media (max-width: 853px) {
  .header {
    font-size: 0.8rem;
  }

  .clear-search {
    width: 148px;
  }

  .Range-Search {
    width: 80px;
    margin-right: 3%;
  }

  /* .search-button{
        font-size: 0.8rem;
    } */
}

@media (max-width: 800px) {
  .clear-search {
    position: absolute;
    top: 5rem;
    padding: 10px;
    font-size: 1.2rem;
    width: 160px;
  }
}

@media (max-width: 600px) {
    .header .header-title{
      position:fixed;
      top:40px;
      right:200px;
      z-index: 100;
    }
    .header{
        justify-content: end;
    }
  }

  @media(max-width:532px){
    .lower,.upper{
      width:110px;
    }
  }

  @media(max-width:452px){
    .search-bar{
      width:100px;
      height:80%;
      font-size: 0.7rem;
    }
    .plus-icon{
      right:4.1rem;
    }
    .search-button{
      width:30%;
      height: 80%;
      font-size: 0.7rem;
      padding: 5px;
    }
    .header-title{
      display: none;
    }

    .Range-Search{
      width:60px;
      height:70%;
    }
  }
